<a href="https://colab.research.google.com/github/Tanmay8275987417/NSE-India-stocks-Indices-Prediction/blob/main/NSE_India_stocks_(Indices).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Importing Dataset

In [3]:
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['nifty50.csv']))
# Dataset is now stored in a Pandas Dataframe

Saving nifty50.csv to nifty50.csv

Data Preprossing

In [6]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [7]:
df2.head()

   index      date   time     open     high      low    close
0  NIFTY  20130401  09:16  5701.15  5704.65  5694.30  5697.00
1  NIFTY  20130401  09:17  5697.05  5698.35  5695.65  5697.50
2  NIFTY  20130401  09:18  5697.90  5697.90  5690.60  5692.15
3  NIFTY  20130401  09:19  5691.65  5694.70  5691.65  5693.90
4  NIFTY  20130401  09:20  5694.40  5695.05  5693.35  5694.55

In [8]:
forecast_col = 'close'
forecast_out = 5
test_size = 0.2

In [10]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df2,forecast_col,forecast_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.9995955961961394, 'forecast_set': array([8618.32661401, 8617.07682119, 8617.32677976, 8616.47692064,
       8620.77620793])}